* {
  justify-content: center;
  text-align: center;
}

div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background: grey;
  color: black;
  width: 100px;
  height: 60px;
  font-size: 14px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  transition: 0.6s;
  overflow: hidden;
}

button:before {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(30px);
}

button:hover {
  background: blueviolet;
  cursor: pointer;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

tr {
  background-color: blueviolet;
}

td {
  padding: 10px;
  background-color: grey;
  border: 1px solid black;
}

th {
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}
